/* Main element */
main {
    max-width: 840px;
    margin: 0 auto; /* Center the content horizontally */
  }
  
  /* More exclusive profile image selector */
  main img {
    width: 150px;
    height: auto;
  }
  
  /* Paragraph styling */
  p {
    padding: 0;
  }
  
  /* Aside styling */
  aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
  }
  
  /* Aside image */
  aside img {
    width: 200px;
    height: auto;
  }
  
  /* Footer styling */
  footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
  }
  