/* Main element */
main {
    max-width: 840px;
    margin: 0 auto; /* Center the content horizontally */
  }
  
  /* More exclusive profile image selector */
  main img {
    width: 150px;
    height: auto;
  }
  
  /* Paragraph styling */
  p {
    padding: 0;
  }
  
  /* Aside styling */
  aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
  }
  
  /* Aside image */
  aside img {
    width: 200px;
    height: auto;
  
  }
  /* Navigation Styling */
nav {
    background-color: #333; /* Dark background */
    padding: 1rem; /* Padding for spacing */
    text-align: center;
  }
  
  nav a {
    color: #fff; /* White text */
    margin: 0 1rem; /* Space between links */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Bold links */
  }
  
  nav a:hover {
    color: #ddd; /* Light grey on hover */
  }
  
  /* Heading 1 Styling */
  h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
    color: #333;
  }

  
/* Footer styling */
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}